<!DOCTYPE html>
<html>
<head> 
    <title>Coder</title>
    <meta charset="utf-8">
    <!-- Standard Coder Includes -->
    <script>
        var appname = "{{app_name}}"; //app name (id) of this app
        var appurl = "{{&app_url}}";
        var staticurl = "{{&static_url}}"; //base path to your static files /static/apps/yourapp
    </script>
    <link href="/static/apps/coderlib/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/coderlib/js/index.js"></script>
    <script>
        Coder.addBasicNav();
    </script>
    <!-- End Coder Includes -->

    <!-- This app's includes -->
    <link href="{{&static_url}}/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="{{&static_url}}/js/index.js"></script>
    <!-- End apps includes -->
</head>
<body class="">
    <div class="pagecontent">
        <h1>The Perfect PB&amp;J</h1>
        <hr />
        <img src="/static/apps/the_perfect_sandwich/media/fruitcake.png" height="400px" width="700px"  />
        <hr />
        <h2>Description</h2>
        <p>Chrsitmas Fruit Cake: Nuts, Dates and dried fruit soaked in rum for three months and mixed into a pound cake recipe with caramel</p>
        <hr />
        <h2>Ingredients</h2>
        <ul>
            <li>2 C unsalted butter at room temparature</li>
            <li>2 C sugar</li>
            <li> </li>
            <li> </li>
        </ul>
        <hr />
        <h2>Directions</h2>
        <ol>
            <li>Lay both slices of bread next to each other on a cutting board.</li>
            <li>With the butter knife, spread a 1/8 inch layer of peanut butter on the left side</li>
            <li>On the right side, spread a 1/8 inch layer of jelly.</li>
            <li>Carefully place the two halves together so that the jelly is on top.</li>
            <li>With the sharp knife, carefully cut the sandwich in half.</li>
            <li>Enjoy the PB&amp;J!</li>
        </ol>
    </div>
</body>
</html>
